.banner{
    @include bg-image('~assets/img/headway.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    &-title{
        @include flexCenter(wrap);
        justify-content: flex-start;
        @media screen and (min-width: $desktop){
            width: 825px;
        }
        img{
            margin-right: 30px;
            margin-bottom: 4em;
            @media screen and (min-width:$desktop){
                margin-bottom: 0;
            }
        }
        img.digital{
            width: 19em;
            @media screen and (min-width: $desktop){
                width: 23em;
            }
        }
        img.skills{
            width: 16em;
            padding-bottom: 20px;
            @media screen and (min-width: $desktop){
                width: 20em;
            }
        }
        img.academy{
            width: 28em;
            @media screen and (min-width: $desktop) {
                margin-bottom: 40px;
                width: 32em;
            }
        }
    }
}

.fondo{
    @include flexCenter();
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, .5);
}

// Banner seccion becas

.banner-becas, .banner-eventos, .banner-aliados{
    @include bg-image('~assets/img/hitesh-choudhary.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .banner-title{
        @include flexCenter(wrap);
        justify-content: flex-start;
        h2{
            font-size: 6em;
            color: #FFF;
        }
        @media screen and (min-width: $desktop){
            width: 825px;
            font-size: 1.3em;
        }
        
    }

    .banner-txt{
        width: 100%;
        color: #FFF;

        @media screen and (min-width: $desktop){
            width: 40%;
        }
    }

    @media screen and (min-width: $desktop){
        height: 80vh;
    }
}
.fondo-becas{
    @include flexCenter();
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, .5);

    @media screen and (min-width: $desktop){
        height: 80vh;
    }
}
