.btn{
    @include botons(transparent, $main-color, 1.1em);
    transition: .2s;
    &:hover{
        background-color: $main-color;
        color: #fff;
    }
}

.btn-white{
    @include botons(transparent, #fff);
    transition: .2s;
    &:hover{
        background-color: #fff;
        color: #666666;
    }
}