.cursos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4em;
    padding: 5px;
}

.card-curso{
    width: 85%;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 2em;
    
    @media screen and (min-width: $tablet){
        width: 60% - 15;
        margin-right: 15px;
    }

    @media screen and (min-width: $desktop-lg){
        display: flex;

        .img{
            flex-basis: 40%;
            height: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
        .txt-curso{
            flex-basis: 60%;
        }

    }

    &:hover{
        box-shadow: 0 0 15px rgba(#222, .4);
        transform: translateY(-5px);
        img{
            transform: scale(1.1);
        }
    }

    .img{
        overflow: hidden;
        transform: scale(1.005);
        max-height: 300px;
        img{
            display: block;
            width: 100%;
            transition: .2s;
        }
    }
    .title-curso{
        font-size: 20px;
        width: 70%;
        padding-bottom: 15px;
    }
    .txt-curso{
        padding: 20px;
        strong{
            display: block;
            padding-bottom: 15px;
        }
        p{
            width: 90%;
            font-size: .9em;
            margin-bottom: 15px;
            max-height: 70px;
            overflow: hidden;
        }
    }
    hr{
        display: block;
        background-color: #ddd;
        height: 2px;
        border: none;
    }
    .time{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        b{
            font-size: 20px;
        }
    }
}