*,::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.container{
    width: 95%;
    @include marginCenter;
    @media screen and (min-width: 1024px){
        width: 90%;
    }
}

a{
    text-decoration: none;
}

input, button{
    outline: none;
}

input, select{
    border: $border-color;
    border-radius: 5px;
    padding: 10px;
}

ul, ol{
    list-style: none;
}

table{
    width: 100%;
    border-collapse: collapse;
}

