
//  Colores 
$main-color: #481AE7;
$banner-color: #271777;
$sky: #00D2E5;
$purple: #9D46F8;
$border-color: #efefef;
$dark-color: #1e1e1e;

//  Break Points
$bp-mobile : 320px;
$bp-tablet : 640px;
$desktop : 1024px;
$smart : 1440px;